<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,100' rel='stylesheet' type='text/css'>

<div class="price-table-wrapper">
    {{#each bans}}
        <div class="pricing-table">
            <h2 class="pricing-table__header">{{Name}}</h2>
            <i><img src="https://cravatar.eu/avatar/{{Name}}/128.png" id="banned-image" class="icon"></i>
            <h2>{{Banid}}</h2>
            <ul class="pricing-table__list">
                <li>30 day free trial</li>
                <li>50gb storage space</li>
                <li>20% discount</li>
                <li>24 hour support</li>
                <a class="pricing-table__button" href="/bans/edit"><i class="fas fa-pencil-alt"></i></a><a class="pricing-table__redbutton" href="/bans/delete"><i class="fas fa-minus-circle "></i></a>
            </ul>
        </div>
    {{else}}
        <div class="no-players">
            <p>There are no Banned Players</p>
        </div>
    {{/each}}
</div>