<div class="download">
    <div class="md-p-l10 flex justify-center items-center flex-column text-center download-img" id="ban" style="background-image: url('/img/mc-5.png');">
        <h2 class="fs-l3">
            How to link the server with the web?
        </h2>
        <p class="fs-m1 my-5">Just type /staffcore link &lt;ServerName&gt; &lt;User Name&gt; &lt;Web Password&gt; in the server, and you will be good to go!</p>
    </div>
</div>
