<div class="download">
    <div class="md-p-l10 flex justify-center items-center flex-column text-center download-img" id="ban" style="background-image: url('/img/mc-5.png');">
        <h2 class="fs-l3">
            How to link the server with the web?
        </h2>
        <p class="fs-m1 my-5" style="background-color: #0d6efd; border-radius: 10px !important;">Just type /staffcore link &lt;ServerName&gt; &lt;User Name&gt; &lt;Web Password&gt; in the server, and you will be good to go!</p>
        <h2 class="fs-l3">
            Requirements:
        </h2>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item justify-content-between align-items-center flex-wrap listas">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-database" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <ellipse cx="12" cy="6" rx="8" ry="3"></ellipse>
                    <path d="M4 6v6a8 3 0 0 0 16 0v-6"></path>
                    <path d="M4 12v6a8 3 0 0 0 16 0v-6"></path>
                </svg>
                <span>Mysql</span>
            </li>
            <li class="list-group-item justify-content-between align-items-center flex-wrap listas">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-server" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <rect x="3" y="4" width="18" height="8" rx="3"></rect>
                    <rect x="3" y="12" width="18" height="8" rx="3"></rect>
                    <line x1="7" y1="8" x2="7" y2="8.01"></line>
                    <line x1="7" y1="16" x2="7" y2="16.01"></line>
                </svg>
                <span>Network</span>
            </li>
        </ul>
    </div>
</div>
