<div class="download">
    <div class="md-p-l10 flex justify-center items-center flex-column text-center download-img" id="ban" style="background-image: url('/img/mc-1.png');">
        <h2 class="fs-l3">
            StaffCore Player Management
        </h2>
        <p class="fw-600 fs-m1 opacity-60 my-5">This features Will be Coming Soon</p>
    </div>
</div>