

<div >
    <div class="p-10 mb-10 ">
        <div class=" md-p-l10 flex justify-center items-center flex-column text-center features " id="ban"  style="
        width: 100%;
        background-image: url('/img/mc-1.png');
        background-size: inherit;
        background-repeat: no-repeat;" >
            <h2 class="fs-l3">
                StaffCore 4.4.3
            </h2>
            <p class="fw-600 fs-m1 opacity-60 my-5">Now supporting spigot 1.17!</p>

            <div class="items-center">
                <a href="https://github.com/BarraR3port/staffcore/releases/download/4.4.3/StaffCore-4.4.3.jar" class="button-md bg-indigo white fs-s3 br-4 black fw-600 no-underline m-5">Jar File</a>
                <a href="https://github.com/BarraR3port/staffcore/releases/download/4.4.3/StaffCore-4.4.3.zip" class="button-md bg-indigo white fs-s3 br-4 black fw-600 no-underline m-5">Rar File</a>
            </div>

        </div>
    </div>
</div>
