<div class="container p-4">
    <div class="row">
        <div class="col-md-4 md-auto">
            <div class="card-body">
                <h3>Welcome {{user.username}}</h3>
                <a href="/bans" class="btn btn-primary m-4">
                    the ban list
                </a>
            </div>
        </div>
    </div>
</div>