<div class="container">
    <div class="main-body m-4">
        <!-- /Breadcrumb -->
        <div class="row gutters-sm">
                <div class="row gutters-sm">
                    <!-- --------------= BANS =-------------- -->
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100 profile">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center"><span class="material-icons profile-from">no_accounts</span>Bans</h6>
                                <small>Current Bans</small>
                                <div class="progress mb-3 "
                                     style="height: 20px; background-color: rgba(62, 21, 102, 0.7);">
                                    <span class="progress-value">globalInfo.bansLengthPercentage%</span>
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                         role="progressbar" style="width: 10%; "
                                         aria-valuenow="globalInfo.bansLengthPercentage" aria-valuemin="0"
                                         aria-valuemax="serverSettings.maxBans"></div>
                                </div>
                                <small>Open Bans</small>
                                <div class="progress mb-3 "
                                     style="height: 20px; background-color: rgba(62, 21, 102, 0.7);">
                                    <span class="progress-value">globalInfo.openBansLengthPercentage%</span>
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                         role="progressbar" style="width: 15%; "
                                         aria-valuenow="globalInfo.openBansLengthPercentage" aria-valuemin="0"
                                         aria-valuemax="serverSettings.maxBans"></div>
                                </div>
                                <small>Closed Bans</small>
                                <div class="progress mb-3 "
                                     style="height: 20px; background-color: rgba(62, 21, 102, 0.7);">
                                    <span class="progress-value">globalInfo.closedBansLengthPercentage%</span>
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                         role="progressbar" style="width: 15%; "
                                         aria-valuenow="globalInfo.closedBansLengthPercentage" aria-valuemin="0"
                                         aria-valuemax="serverSettings.maxBans"></div>
                                </div>
                                <div class="row buttons-container">
                                        <div class="button" id="button-6">
                                            <div id="spin"></div>
                                            <a href="/servers/{{globalInfo.server}}/bans">Ban List</a>
                                        </div>
                                        <div class="button" id="button-6">
                                            <div id="spin"></div>
                                            <a href="/servers/{{globalInfo.server}}/bans">Ban List</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- --------------= REPORTS =-------------- -->
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100 profile">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><span class="material-icons profile-from">warning</span>Reports</h6>
                                <small>Current Reports</small>
                                <div class="progress mb-3 "
                                     style="height: 20px; background-color: rgba(62, 21, 102, 0.7);">
                                    <span class="progress-value">globalInfo.reportsLengthPercentage%</span>
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                         role="progressbar" style="width: 15%; "
                                         aria-valuenow="globalInfo.reportsLengthPercentage" aria-valuemin="0"
                                         aria-valuemax="serverSettings.maxBans"></div>
                                </div>
                                <small>Open Reports</small>
                                <div class="progress mb-3 "
                                     style="height: 20px; background-color: rgba(62, 21, 102, 0.7);">
                                    <span class="progress-value">globalInfo.openReportsLengthPercentage%</span>
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                         role="progressbar" style="width: 15%; "
                                         aria-valuenow="globalInfo.openReportsLengthPercentage" aria-valuemin="0"
                                         aria-valuemax="serverSettings.maxReports"></div>
                                </div>
                                <small>Closed Reports</small>
                                <div class="progress mb-3 "
                                     style="height: 20px; background-color: rgba(62, 21, 102, 0.7);">
                                    <span class="progress-value">globalInfo.closedReportsLengthPercentage%</span>
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                         role="progressbar"
                                         style="width: 15%; "
                                         aria-valuenow="globalInfo.closedReportsLengthPercentage" aria-valuemin="0"
                                         aria-valuemax="serverSettings.maxWarns"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>