<div class="download">
    <div class="md-p-l10 flex justify-center items-center flex-column text-center download-img" id="ban" style="background-image: url('/img/mc-1.png');">
        <h2 class="fs-l3 hover-opacity-60" style="color: brown">
            StaffCore {{version}} - Alts Migration
        </h2>
        <p class="fw-600 fs-m1 opacity-70 hover-opacity-60 my-5">Hey if you get here, that means that your StaffCore Plugin is
            updating his internal Database, because now Alts Management will work with UUID's instead of just the Name.
        This will not take several hours or even minutes, just some seconds, actually go and check your server,
        the migration has complete!</p>
        <div class="items-center">

        </div>
    </div>
</div>
