<div class="download">
    <div class="md-p-l10 flex justify-center items-center flex-column text-center download-img" id="ban" style="background-image: url('/img/mc-1.png');">
        <h2 class="fs-l3 hover-opacity-60" style="color: brown">
            StaffCore {{version}} - Bad Configuration
        </h2>
        <p class="fw-600 fs-m1 opacity-80 hover-opacity-70 my-5">Hey apparently you are using localhost as the host of
            your database, please change that to an IP address, so the StaffCore web can connect and ask for your Server data.
            You may be wandering what kind of data this web is asking for, well this will only ask for the StaffCore plugin data,
            for example the amount of bans are in your Network, or Ban players from the Web!</p>
        <p class="fw-600 fs-m1 opacity-80 hover-opacity-70 my-5">Now How to fix this?</p>
        <p class="fw-600 fs-m1 opacity-80 hover-opacity-70 my-5">Easy, just go to the config file and replace the Host from localhost to
            the IP address your SQL Server Supplier, then reload the plugin in all of your servers and type /staffcore unlink ...
            after that jus type /staffcore link ... and you will be ready to ban or pardon players of your Network from the web!</p>
        <div class="items-center">

        </div>
    </div>
</div>
