<div class="auth-form">
    <div class="container" style="width: 700px;">
        <div class="row">
            <div class="mx-auto">
                <div class="row gutters-sm">
                    <div class="col" style="align-content: center">
                        <div class="row gutters-sm">
                            <!-- --------------= SERVER SETTINGS =-------------- -->
                            <div class="card h-100 profile" >
                                <div class="card-body">
                                    <form action="/register" method="POST" id="create-form" autocomplete="on" class="form">
                                        <div class="form-title">StaffCore Register</div>
                                        <div class="input-container ic2">
                                            <input id="username" name="username" class="input" type="text" placeholder=" " required autocomplete="on" />
                                            <div class="cut"></div>
                                            <label for="username" class="placeholder">User Name</label>
                                        </div>
                                        <div class="input-container ic2">
                                            <input id="mail" name="mail" class="input" type="text" placeholder=" " required autocomplete="on" />
                                            <div class="cut"></div>
                                            <label for="mail" class="placeholder">Your E-Mail</label>
                                        </div>
                                        <div class="input-container ic2">
                                            <input id="password" name="password" class="input" type="password" placeholder=" " required autocomplete="on" />
                                            <div class="cut"></div>
                                            <label for="password" class="placeholder">Password</label>
                                        </div>
                                        <div class="row buttons-container">
                                            <button class="submit button" id="button-6">
                                                Register
                                            </button>
                                            <a class="submit button" id="button-6" href="/login">
                                                Log In
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>